body {
  background-color: black;
  text-align: center;
    }

/* Headings */

.headermain {
    font-size: 50px;
    font-weight: normal;
    color: white;
    font-family: Verdana;
}

.headersec {
  font-weight: 300;
  font-size: 42px;
  color: white  
  }

.headerthird {
  font-size: 21px;
  color: gray;
}

.headerfort {
  font-weight: 300;
  font-size: 42px;
  color: white
  }

/*Links*/

.link {
  color: aquamarine;
  text-align: center;
  font-size: 16px;
}

/*footer*/

footer {
  text-align: right;
  color: gray;
  font-family: Verdana;
  font-size: 21px;
}
