h1 {
  color: white;
    font-size: 50px;
}

body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

p {
  color: aquamarine;
  text-align: center;
  font-size: 16px;
}

video {

}
